body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    margin: 0px;
    text-decoration-line: underline;
}

p {
    margin: 0px;
    margin-bottom: 20px;
}

#bar-chart-grouped {
    width: 1200px !important;
    height: 600px !important;
};